@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.125);
}

.ar-headerContainer {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
}

.ar-headerLogo a {
    background: #aba8a8;
    display: flex;
    justify-content: start;
    height: 70px;
}

/* ===input style=== */
.ar-Search {
    display: flex;
    align-items: center;


}

.ar-Search i {
    color: #aba8a8;
}

.ar-search-icon a i {
    margin-left: -30px;
}

.ar-Search input {
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(176, 169, 169);
    font-size: 14px;
    border-radius: 5px;
}
/* === MOBILE RESPONSIVE === */
@media(max-width: 768px){
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.125);
    }
    .ar-headerContainer{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px 0 2px 0;
    }
    .ar-headerLogo a{
        height: 50px;
    }
    .ar-Search{
        width: 250px;
    }
}
/* === input style end === */

/* === contact style === */
.ar-contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.contactPhone {
    display: flex;
    align-items: center;
    gap: 15px;

}

.ar-contactIcon i {
    font-size: 20px;

}

.ar-contact-container p {
    color: #524747;
    font-size: 16px;
    font-family: "Hind Siliguri", serif;
}

.ar-contact-container span {
    color: red;
    font-size: 17px;
    font-weight: 500;
}

.ar-cart i {
    font-size: 26px;
    margin-left: 10px;
    color: #463e3e;
}
/* === MOBILE RESPONSIVE === */
@media(max-width: 768px){
    .ar-contact{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 0;
    }
    .ar-contactIcon i{
        display: none;
    }
    .ar-contact-container{
        text-align: end;
    }
    .ar-contact-container p{
        font-size: 15px;
        display: none;
    }
    .ar-contact-container span{
        font-size: 15px;
        display: none;
    }
    .ar-cart i{
        font-size: 16px;
    }
    .sh-add-slider-container a img{
        width: 100%;
    }
}
/* === SH PRODUCTS SLIDE MENU === */
.sh-products-menu-page-slider-section {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #F5F6F7;
}

.sh-products-menu-page-slider-container {
    width: 85%;
    height: 100px;
    display: flex;
    align-items: center;
}

.item {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 0, 0, 0.1);
    background-color: white;
}

.item a {
    color: black;
    font-size: 16px;
}
/* === MOBILE RESPONSIVE === */
@media(max-width: 768px){
    .sh-products-menu-page-slider-section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .sh-products-menu-page-slider-container{
        width: 90%;
        display: flex;
        align-items: center;
    }
    .item{
        width: 150px;
        
    }
    .item a{
        font-size: 13px;
    }
}
/* === SH DAIMOND PRODUCTS === */
.sh-daimond-section{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    background: #F5F6F7;
    padding-top: 40px;
    padding-bottom: 40px;
}
/* === SH DAIMOND PRODUCT CONTAINER === */
.sh-daimond-product-container{
    justify-items: center;
    justify-content: center;
    width: 85%;
    display: grid;
    grid-template-columns: 240px 240px 240px 240px 240px;
    column-gap: 20px;
    row-gap: 20px;

}
/* === REPONSIVE FOR MOBILE === */
@media(max-width: 768px){
    .sh-daimond-product-container{
        width: 95%;
        display: grid;
        grid-template-columns: 180px 180px;
        column-gap: 10px;
        row-gap: 10px;
    }
}
/* === SH DAIMOND CONTAINER === */
.sh-daimond-container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    background: white;
    border-radius: 10PX;
    box-shadow: 3px 3px 5px 5px rgb(0, 0, 0, 0.1);
}
/* === SH DAIMOND PRODUCT IMAGE === */
.sh-daimond-product img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}/* === SH PRODUCT DISCOUNT PRICE === */
.sh-product-discount-price{
    width: 60px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 16px;
    color: white;
    background: #DC3545;
    margin: 10px;   
}
/* === SH PRODUCTS DETAILS === */
.sh-product-details{
    height: 90px;
    padding: 8px;
}
/* === SH PRODUCT NAME === */
.sh-product-name a h4{
    font-size: 15px;
    font-weight: 400;
    color: black;
    line-height: 20px;
}
@media(max-width: 768px){
    .sh-product-name a h4{
        font-size: 14px;
    }
    .sh-product-details{
        height: 100px;
    }
}
/* === SH PRODUCTS PRICES === */
.sh-products-prices{
    display: flex;
    margin-top: 8px;
    gap: 10px;
}
/* === SH LESS PRICE === */
.sh-less-price p{
    font-size: 15px;
    color: #DC3545;
}
/* === SH REGULAR PRICE === */
.sh-regular-price p{
    font-size: 15px;
    color: gray;
    text-decoration: line-through;
}
@media(max-width: 768px){
    .sh-less-price p{
        font-size: 14px;
    }
    .sh-regular-price p{
        font-size: 14px;
    }
}
/* === SH ORDER NOW BUTTON === */
.sh-order-korun-button{
    background: #DB991B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.sh-order-korun-button a{
    color: white;
    font-size: 16px;
}
/* === footer === */

.footer {
    width: 85%;
}

.footer-container {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-section h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.footer-section p,
.footer-section a {
    font-size: 14px;
    line-height: 25px;
    color: black;
    margin-bottom: 5px;
}
.footer-logo h1 {
    font-family: "Urbanist", serif;
    font-size: 40px;
}

.footer-bg {
    width: 100%;
    padding-bottom: 50px;
    padding-top: 50px;
    justify-items: center;
    background-color: rgb(214, 214, 214);
}
/* === MOBILE RESPONSIVE === */
/* === FOOTER === */
@media (max-width: 768px) {
    .footer {
        display: grid;
        width: 430px;
        padding-left: 20px;
    }

    .footer-container {
        display: grid;
    }

    .footer-section p,
    .footer-section a {
        font-size: 14px;
        line-height: 20px;
        color: black;
    }

    .footer-section h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.sm-email-section {
    display: flex;
    margin-top: 20px;
}

.email-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sm-email-section input {
    background-color: white;
    width: 318px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sm-email-section button {
    width: 100px;
    padding: 12px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-bottom-content {
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
}

@media(max-width: 768px) {
    .footer-bottom {
    display: none;
    }

}

@media(max-width: 768px) {
    .sm-hide-for-mobile {
        display: none;
    }
}

@media(max-width: 768px) {
    .footer-bg {
        height: 100%;
        padding-top: 50px;
        margin-top: 60px;
    }
}